<html>

<head>
    <title> LTI Insurance </title>
</head>

<body>
    <div class="split">
        <img class="registration-background" src="../assets/image/forget-background.png" alt="">
        <div class="login-box">
            <!-- <img src="../assets/image/avatar.png" class="avatar"> -->
            <h1>Reset Password </h1>
            <form (ngSubmit)="resetPassword()">
                <p>New Password</p>
                <input type="password" name="oldPassword" [(ngModel)]=newPassword placeholder="">
                <p>Retype Password</p>
                <input type="password" name="newPassword" [(ngModel)]=retypeNewPassword placeholder="">
                <div *ngIf="isNotSame" class="alert alert-danger">Both Fields must have the same values</div>

                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>

</body>

</html>