<html>

<head>
    <title> LTI Insurance </title>
</head>

<body>
    <div class="split">
        <img class="registration-background" src="../assets/image/forget-background.png" alt="">
        <div class="login-box">
            <!-- <img src="../assets/image/avatar.png" class="avatar"> -->
            <h1>Forget Password </h1>
            <form (ngSubmit)="verifyOtp()">
                <p>OTP</p>
                <input type="text" name="otp" [(ngModel)]=otp placeholder="">
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>

</body>

</html>